<!--Cart is empty template starts-->
<ng-container *ngIf="products.length==0">
    <div class="container">
        <div class="card">
            <h5 class="card-title">My Cart</h5>

            <div class="center">
                <img src="assets/images/img28.gif" alt="">
                <h4>Your cart feels light!</h4>
                <h6>Cart empty alert! Lets add some items..</h6>
                <br>
                <button class="btn btn-dark" routerLink="/product">Shop Now</button>
            </div>
        </div>
    </div>
</ng-container>
<!--Cart is empty template ends-->


<!--Cart item cards starts-->
<ng-container *ngIf="products.length!=0">
    <br>
    <button class="btn btn-secondary" (click)="back()" style="margin-left:25px;">Back</button>
    <br>
    <br>
    <h5 class="card-title" style="margin-left:70px;">My Cart</h5>
    <!--Price card starts-->
    <div class="card" style="width: 20rem; height: 22rem; float:right;">
        <div class="card-body">
            <h3 style="font-weight: 800px;">PRICE DETAILS</h3>
            <p style="color:red;">({{totitem}} products)</p>
            <p>Convenience Fee &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<del>Rs. 99</del>&nbsp;<span
                    style="color: green; font-weight: 1000px;">FREE</span></p>
            <p>Total Amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{grandtot}}
            </p><br>
            <!-- <button style="width:237px; margin-bottom: 10px;" data-bs-toggle="modal" data-bs-target="#exampleModal"
                class="btn btn-success">Checkout</button><br> -->
            <button style="width:237px; margin-bottom: 10px;" class="btn btn-success" (click)="billCart()">Checkout</button><br>
            <button style="margin-left:8px;" class="btn btn-danger" (click)="emptyCart()">Empty Cart</button> &nbsp;
            <button class="btn btn-dark" routerLink="/product">Shop More</button> &nbsp;
        </div>
    </div>
    <!--Price card ends-->

    <div class="card" style="width: 800px; height:360px;" *ngFor="let item of products; let i=index;">
        <div class="row no-gutters">
            <div class="col-sm-5">
                <img class="card-img" src={{item.img1}} style="width:300px; height:300px;">
            </div>
            <div class="col-sm-7">
                <div class="card-body">
                    <h5 class="card-title">{{item.brand}}</h5>
                    <p class="card-text">{{item.name}}</p>
                    <p class="card-text">{{item.phone}}</p>
                    <!-- <p>
                        <button class="btn btn-dark" (click)="onDecrement()">-</button>
                        Qty : {{counter}}
                        <button class="btn btn-dark" (click)="onIncrement()">+</button>
                    </p> -->
                    <p class="card-text"><strong>Rs. {{item.price}}</strong> &nbsp; <strong
                            style="color: orange;"><del>Rs. {{item.discountedprice}}</del></strong></p>
                    <button (click)="removeItem(item)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></button>
                </div>
            </div>
        </div>
    </div>
</ng-container>
<!--Cart item cards ends-->

<!-- Invoice modal starts-->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 style="font-size: 30px;" class="modal-title" id="exampleModalLabel">Invoice</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                 <form [formGroup]="billForm" class="formc" (ngSubmit)="postBill(billForm)">
                    
                    <div class="form-group">
                        <label>Name</label>
                        <input readonly formControlName="name" style="width:450px;" value="name" name="name" class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>Email</label>
                        <input readonly formControlName="email" style="width:450px;" value="email" name="email" class="form-control" type="email">
                    </div>

                    <div class="form-group">
                        <label>Date</label>
                        <input readonly formControlName="invoicedate" style="width:450px;" value="invoicedate" name="invoicedate" class="form-control" type="text">
                    </div>

                    <div class="form-group">
                        <label>Phone</label>
                        <input [class.is-invalid]="billForm.get('phone')?.invalid &&
                        billForm.get('phone')?.touched" formControlName="phone" style="width:450px;"
                            name="phone" class="form-control" type="number">
            
                        <div *ngIf="billForm.get('phone')?.invalid && billForm.get('phone')?.touched">
                            <small *ngIf="billForm.get('phone')?.errors?.['required']" class="text-danger">Phone number
                                required</small>
                            <small *ngIf="billForm.get('phone')?.errors?.['minlength']" class="text-danger">Valid
                                phone number required</small>
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Address</label>
                        <input [class.is-invalid]="billForm.get('address')?.invalid &&
                        billForm.get('address')?.touched" formControlName="address" style="width:450px;" name="address"
                            class="form-control" type="text">
            
                        <div *ngIf="billForm.get('address')?.invalid && billForm.get('address')?.touched">
                            <small *ngIf="billForm.get('address')?.errors?.['required']" class="text-danger">Address required</small>
                            <small *ngIf="billForm.get('address')?.errors?.['minlength']" class="text-danger">Valid address
                                required</small>
                        </div>
                    </div>
                          
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input class="btn btn-success" type="submit" value="Bill">&nbsp;
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Invoice modal ends-->


<!--Adjustments starts-->
<br><br><br><br><br><br><br><br><br><br>
<br><br>
<!--Adjustments ends-->