<div class="container">
    <br>
<!--Admin dashboard banner starts-->
<div align="center" class="card mb-4" style="width:75%; margin-left: 140px;">
    <img class="card-img-top" src="/assets/images/img32.jpg" alt="Card image cap" style="width:100%; height: 300px;">
    <div class="card-body">
      <h5 class="card-title">Hello admin!</h5>
      <p class="card-text">A list of your services for you..</p>
      <p class="card-text">
        <button class="btn btn-secondary" routerLink="/admin/userlist">User List</button>&nbsp;
        <button class="btn btn-secondary" routerLink="/admin/productlist">Product List</button>&nbsp;
        <button class="btn btn-secondary" routerLink="/admin/billlist">Bill List</button>&nbsp;
      </p>
    </div>
  </div>
<!--Admin dashboard banner ends-->
</div>

<!--Adjustments starts-->
<br><br><br><br><br><br><br><br><br><br>
<!--Adjustments ends-->