<!--Welcome Banner begins-->
<div
  style="background-image: url('assets/images/img12.jpg'); background-repeat: no-repeat; background-size: 100% 400px;">
  <h1 class="Bann1" style="color:black; font-size:5vw; text-align: center;">WELCOME</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>
<!--Welcome Banner ends-->


<!--Profile child route starts-->
<br>
<div class="container" style="text-align:center;background-color:#e6e6ff;">
  <br>
  <p>

    <button class="btn" *ngIf="us.email === 'admin@gmail.com'" style="background-color:#cc7a00; color: white;" routerLink="/admin/admindashboard">
      Admin Dashboard
    </button>&nbsp;
    <button class="btn" (click)="showProfile()" style="background-color:#cc7a00; color: white;">
      Profile
    </button>&nbsp;
    <!-- <button class="btn" (click)="changePwd()" style="background-color:#cc7a00; color: white;">Change Password</button> -->
  </p>
  <router-outlet></router-outlet>
  <br>
</div>
<!--Profile child route ends-->


<!--Picture gallery - deals of the day starts-->
<br> <br>
<h1 class="Bann2" style="color:black; font-size:2vw; margin-left: 50px;"><strong>DEALS OF THE DAY</strong></h1>

<div class="gallery">
  <a target="_blank" href="assets/images/img13.jpg">
    <img src="assets/images/img13.jpg" alt="" width="600" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Women casual outfits</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="assets/images/img14.webp" alt="" width="600" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Men casual outfits</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="assets/images/img15.jpg" alt="" width="600" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Kids outfits</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="assets/images/img16.jpg" alt="" width="800" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Men Footwear</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="assets/images/img17.jpg" alt="" width="600" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Accessories</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="assets/images/img18.webp" alt="" width="600" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Home Furnish</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="assets/images/img19.webp" alt="" width="600" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Groceries</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="assets/images/img20.webp" alt="" width="600" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Women Footwear</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="assets/images/img21.jpg" alt="" width="600" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Ethnic wear</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="assets/images/img22.jpg" alt="" width="600" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Bags</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="assets/images/img23.jpg" alt="" width="600" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Beauty</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>

<div class="gallery">
  <a target="_blank">
    <img src="assets/images/img24.jpg" alt="" width="600" height="230">
  </a>
  <div class="desc">
    <h1 class="Bann1" style="color:black; font-size: 15px;">Electronics</h1>
    <h1 class="Bann1" style="color:black; font-size: 15px;">Flat 60% Off</h1>
  </div>
</div>
<!--Picture gallery - deals of the day ends-->


<!--Gift cards - Card starts-->
<h1 class="Bann2" style="color:black; font-size:2vw; margin-left: 50px; margin-top: 630px;"><strong>COUPON
    CARDS</strong></h1>

<div class="card" style="width: 18rem; float:left;">
  <img style="height: 200px" class="card-img-top" src="assets/images/img25.jpg" alt="">
  <div class="card-body">
    <p class="card-text">
    <h3><b>20% OFF YOUR PURCHASE</b></h3>
    <p>Use Promo Code: <span class="promo">ON2022</span></p>
    <p class="expire">Validity: Sep 10, 2022</p>
  </div>
</div>

<div class="card" style="width: 18rem; float:left;">
  <img style="height: 200px" class="card-img-top" src="assets/images/img26.webp" alt="">
  <div class="card-body">
    <p class="card-text">
    <h3><b>10% OFF YOUR PURCHASE</b></h3>
    <p>Use Promo Code: <span class="promo">JES10</span></p>
    <p class="expire">Validity: December 31, 2022</p>
  </div>
</div>

<div class="card" style="width: 18rem; float:left;">
  <img style="height: 200px" class="card-img-top" src="assets/images/img27.jpg" alt="">
  <div class="card-body">
    <p class="card-text">
    <h3><b>50% OFF YOUR PURCHASE</b></h3>
    <p>Use Promo Code: <span class="promo">NEW23</span></p>
    <p class="expire">Validity: Jan 31, 2023</p>
  </div>
</div>
<!--Gift cards - Card ends-->


<!--Adjustments starts-->
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br>
<!--Adjustments ends-->