<!--Page not found template starts-->
<div class="container">
    <div class="card">    
        <div class="center">
            <img src="assets/images/img30.gif" alt="">
            <h4>Error alert!</h4>
            <h6>Requested page not found..</h6>
            <br>
            <button class="btn btn-dark" routerLink="/home">Go to Home</button>
        </div>
    </div>
</div>
<!--Page not found template ends-->

<!--Adjustments starts-->
<br><br><br><br><br><br><br><br><br><br>
<!--Adjustments ends-->

