<div class="container">
    <div class="container">
        <div class="card">
            <h5 style="font-size: 30px;">Invoice</h5>
            <br>
            <p>Infinito</p>
            <p>23rd cross,M.G Road</p>
            <p>Bangalore, India - 01</p>
            <br>
            <div class="row">
                <div class="col">
                    <p style="font-weight: 680;">Bill To</p>
                    <p>{{us.name}}</p>
                    <p>{{us.email}}</p>
                </div>
                <div class="col">
                    <p style="font-weight: 680;">Ship To</p>
                    <p>{{us.name}}</p>
                    <p>{{us.description}}</p>
                </div>
                <div class="col">
                    <p style="font-weight: 680;">Invoice #</p>
                    <p style="font-weight: 680;">Invoice Date</p>
                </div>
                <div class="col" style="margin-left:-150px;">
                    <p>909090</p>
                    <p>{{Today | date: 'medium'}} </p>
                </div>
            </div>
            
            <br><br><br><br><br><br>
            <!-- <div class="center">
                <h4>Your cart feels light!</h4>
                <h6>Cart empty alert! Lets add some items..</h6>
                <br>
                <button class="btn btn-dark" routerLink="/product">Shop Now</button>
            </div> -->
        </div>
    </div>
</div>

<!--Adjustments starts-->
<br><br><br><br><br><br><br><br><br><br>
<br><br>
<!--Adjustments ends-->