.CC{
    padding-left: 280px;
}

.card-top{
    position:relative;
    display:flex;
    min-width:0;
    word-wrap: break-word;
    background:#fff;
    background-clip: border-box;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.item img{
    width:64px;
}

.item{
    margin: 0px 15px;
    text-align: center;
}

.item a:hover{
    color: green;
}

.card{
    width: 18rem;
    float:left;
    margin-left: 20px;
    margin-top: 10px;
}

.card img:hover{
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.C{
    width: 250px; 
    height: 300px;
    align-self: center;
}

.sortdiv{
    float:right;
    margin-right: 60px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color:black;
    color:white;
}

.sidenav {
    width: 260px;
    position: absolute;
    z-index: 1;
    top: 65px;
    bottom: 232px;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 2px;
    color: white;
  }